@font-face {
  font-family: "Karla";
  src: url("/css/fonts/Karla/Karla-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/css/fonts/proxima_ssv/ProximaNova-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Questa";
  src: url("/css/fonts/questa/2-Questa_Sans_Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica";
  src: url("/css/fonts/Helvetica/Helvetica-01.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("/css/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Overpass";
  src: url("/css/fonts/Overpass/Overpass-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}


body {
  margin-top: 100px;
  background: linear-gradient(180deg, #b3e6d6 0%, #b3e6d6 100%);
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Padauk', sans-serif;
}
h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Padauk', sans-serif;
  color: #002f44;
  font-size: 56px;
  line-height: 44px;
}
img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Padauk', sans-serif;
  font-size: 25px;
  line-height: 36px;
  color: #002f44;
}

p,
li {
  margin-bottom: 20px;
  font-family: 'Padauk', sans-serif;
  color: #002f44;
  font-size: 22px;
  line-height: 30px;
}

a {
  -webkit-transition: border-color 200ms ease, color 200ms ease;
  transition: border-color 200ms ease, color 200ms ease;
  color: #002f44;
  text-decoration: none;
}

a:hover {
  border-bottom-color: #2b2b2b;
  color: #2b2b2b;
}

a:focus {
  border-bottom-color: #2b2b2b;
  color: #2b2b2b;
}

.content {
  margin-top: 60px;
}
.title {
  margin-top: -20px;
  top: 0px;
  padding-right: 25px;
  float: left;
  border-bottom: 0px none #000;
  font-family: 'Padauk', sans-serif;
  color: #002f44;
  font-size: 25px;
  line-height: 30px;
  display: block;
}
.social-icon {
  margin-top: -20px;
  padding-right: 25px;
  float: right;
  color: #002f44;
  border-bottom: 0px none #000;
}

span {
  color: #002f44;
}

.projects {
  font-family: Overpass;
  color: #002f44;
  font-size: 25px;
  line-height: 30px;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}


.project-container{
  margin-top:2em;
}

.project-img{
  48vw;
  border-radius:0%;
  height: 150px;
  width: 150px;
  text-align: center;
  margin-right:2vw;
  border-radius:5px;
}

.project-title{
  margin:.25em 0;
  font-size:1.5em;
}

.project-desc{
  margin-top:1em;
}

#features {
  position:relative;
  display:inline-block;
  float:center;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items:flex-start;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 30px;
  color:#E35C5C;
  width: 100%;
  height: 30%;
  box-shadow: 0px 3px 0px #FFB6B6;

}

#trigger{
  font-size: 30px;
  color:#002f44;
  width: 100%;
  height: 20rem;
  text-align: center;
  position:relative;
  display:inline-block;
  float:center;
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items:flex-start;
  justify-content: space-between;
  padding: 10% 0;
  position: relative;
  z-index: 1;
  display: flex;
  text-align: center;
  padding: 0 2rem;
  flex-wrap:wrap;
  margin: 1rem 1rem;
  background: white;
  border-radius: 0.75rem;
  border: none;
  box-shadow: 0px 3px 0px #FFB6B6;
  cursor: pointer;
  transition: all 0.2s ease;
}
