@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tienne&display=swap');


html {
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    line-height: 1.35;

}

h1 {
    font-family: 'Merriweather', serif;
    //font-family: 'Tienne', serif;
}

h1.v2 span{
  background-color: rgba(161, 215, 247, 0.3);

}

h1.v2:hover{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #A1D7F7;
}

img {
    max-width: 100%;
}

pre {
    outline: 1px solid black;
    padding: 2px;
    overflow: auto;
}

body{
  font-weight: 100;
  font-family: 'Merriweather', serif;
  //font-family: 'Tienne', serif;  
  justify-content: center;
  height: 100%;
}


a {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #A1D7F7;

  background: linear-gradient(to top, #A1D7F7 50%, transparent 50%) bottom;
  background-size: 200%;
  transition: .5s ease-out;
  background-position: top;
}

a:hover{
  background-position: bottom;
}


/*span {
  position: relative;
}

span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 16px;
  background: #000;
  bottom: 0px;
  transition: all 0.2s ease-out;
  }
*/


h1.title:hover {
  background-position: 0 4px;
}

span:hover:before {
  transform: translateY(10px)
}

h1.title {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

li{
  margin: 3px 0;
}

h2 {
  padding-top: 12px;

  font-weight: 200;

}

.divider {
    white-space: nowrap;
    box-shadow: rgb(230 230 230) 0px 1px 0px;
}

.blog {
    margin: 0;
    display: block;
    font-family: 'heading','serif-bold','serif-regular',serif;
    font-size: 1.125rem;
    line-height: 1.2;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #1a1717;
}
