@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tienne&display=swap');


html {
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    line-height: 1.35;

}

h1 {
    //font-family: 'Merriweather', serif;
    font-family: 'Tienne', serif;
}

h1.v2 span{
  background-color: rgba(161, 215, 247, 0.3);

}

h1.v2:hover{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #A1D7F7;
}


/*
div{
  font-family: 'Merriweather', serif;
  font-size: 32px;
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}*/


img {
    max-width: 100%;
}

pre {
    outline: 1px solid black;
    padding: 2px;
    overflow: auto;
}

body{
  font-weight: 100;
  //font-family: 'Merriweather', serif;
  font-family: 'Tienne', serif;  
  justify-content: center;
  height: 100%;
}


a {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #A1D7F7;

  background: linear-gradient(to top, #A1D7F7 50%, transparent 50%) bottom;
  background-size: 200%;
  transition: .5s ease-out;
  background-position: top;


  // 7a83f0
  // 68c8bd
  // fcb711
  // 1d1b7c dont like
  // 00b4ef <--
  // 608c69
  // 2585c8
}

a:hover{
  background-position: bottom;
}


/*span {
  position: relative;
}

span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 16px;
  background: #000;
  bottom: 0px;
  transition: all 0.2s ease-out;
*/}

h1.title:hover {
  background-position: 0 4px;
}

span:hover:before {
  transform: translateY(10px)
}

h1.title {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

li{
  margin: 3px 0;
}

h2 {
  padding-top: 12px;

  font-weight: 200;

}
