.navbar-container{
    float: left;
    width:70vw;
    margin-top: -15vh;

}

h1.nav-name{
    color:#707070;
    margin-left:5vw;
}

.navbar-name{
    float: left;
}

a.navbar-social{
    color: #FF86A3;
    padding: 1vw;
    padding-left:5vw;


}