.navbar-container{
    float: left;
    width:100vw;
    margin-top: -15vh;
}

h1.nav-name{
    margin-left:5vw;
}

.navbar-name{
    float: left;
}

a.navbar-social{
    padding-left:5vw;
    margin-right: -30px;


}