@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@475&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@450&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@550&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

html {
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
    line-height: 1.5;
    color: #222222;
}

h1,h2,h3 {
  font-family: 'Alegreya Sans', sans-serif;
}

img {
  max-width: 100%;
}

body{
font-family: 'Newsreader', serif;
  font-weight: 400;
  justify-content: center;
  height: 100%;
}

a{
  color: #222222;
  text-decoration: none;
}

a.paint{
  text-decoration: none;
  font-weight: 550;
}

ul {
    list-style: none;
    padding-left: 0;
}

li{
  margin: 3px 0;
}

h2 {
  padding-top: 12px;
}

.divider {
    white-space: nowrap;
    box-shadow: rgb(230 230 230) 0px 1px 0px;
}

.blog {
    margin: 0;
    display: block;
    font-size: 1.125rem;
    line-height: 1.2;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #1a1717;
}
  
.social-icon {
  padding-right: 1rem;
  border-bottom: 0px none #222222;
}

 a.social{
  -webkit-transition: border-color 200ms ease, color 200ms ease;
  transition: border-color 200ms ease, color 200ms ease;
  color: #222222;
/*   #b287bf*/
  text-decoration: none;
  padding: 0.75rem;
  border-bottom: 0px none #222222;
}

a.social:hover {
  border-bottom-color: #71717a;
  color: #71717a;
}

.box{
  border-bottom: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  display: flex;
}

.date{
  width: 8rem;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: normal;
  color: #a1a1aa;
  line-height: 1rem;
}

.title{
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
}